body {
    height: 100vh;
    background: linear-gradient(0deg, #dcdbd3 90%, #429488 90%);
}

/* utility classes */ 
.main-container {
    padding-top: 12px;
    padding-bottom: 12px;
}

.sidebar, .content {
    height: calc(100vh - 24px);
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: #f6f6f6;
    border-right: 2px solid rgba(217,219,214,0.8);
}

.chat-contacts-list {
    background-color: white;
    flex-grow: 1;
    overflow-y: scroll;
}

.chat-contacts-list > .avatar-contacts {padding: 6px 12px;}

.chat-container {
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    height: calc(100% - 140px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #eaeaea;
    padding: 0 12px
}

/* end utilities */

/* icons */
i {
    color: gray;
    opacity: 0.8;
    cursor: pointer;
}

.icons-nav > i {
    padding: 0 6px;
    font-size: 18px;
}
/* end icons */

/* input classes */
input {border: none;}

input:focus {outline: none;}
/* end input classes */

.info-nav-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img-navbar-avatar {width: 50px;}

.img-navbar-avatar > img {
    width: 100%;
    border-radius: 100%;
}

.notifications-section {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #9fd8f8;
    padding: 12px;
}

.icon-bell-container {
    background-color: white;
    border-radius: 100%;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

.icon-bell-container > i {color: #9fd8f8;}

.notifications-container {
    padding-left: 12px;
    font-size: 15px
}

a {
    font-size: 12px;
    color: gray;
}

.search-chat-section {
    display: flex;
    align-items: center;
    margin: 8px;
    background-color: white;
    padding: 0 12px;
    box-shadow: 1px 1px rgba(217,219,214,0.3);
}

.search-sidebar {padding-right: 12px;}

.avatar-contacts-container:first-child {border-top: none;}

.avatar-contacts > span {
    vertical-align: top;
    padding-left: 12px;
}

.avatar-contacts > img {
    width: 50px;
    border-radius: 100%;
}

.avatar-contacts {
    width: 100%;
    border-top: 1px solid rgb(241, 241, 241);
    cursor: pointer;
}

.user-info {padding-left: 12px;}

.last-access-user {
    font-size: 12px;
    color: gray;
}

.received-message-box {
    display: inline-block;
    background-color: white;
    border-radius: 12px;
    margin: 6px;
    padding: 6px 12px;
}

.last-access {
    text-align: end;
    font-size: 10px;
}

.send-message-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sent {
    background-color: #dcf8c0;
    border-radius: 12px;
    padding: 6px 12px;
    margin: 6px;
}

footer {
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}

.footer-icon-container {
    font-size: 24px;
}

.messagge-input {
    flex-basis: 50%;
    flex-grow: 1;
    background: white;
    margin: 0 12px;
    padding: 12px;
    border-radius: 24px;
}

/* JS */
.current {background-color: #eaeaea;}

