body {
    height: 100vh;
    background: linear-gradient(0deg, #dcdbd3 90%, #429488 90%);
}

i {
    color: gray;
    opacity: 0.8;
}

.main-container {
    padding-top: 12px;
}

.sidebar, .content {height: 100%;}

.main-sidebar {
    background-color: #fafafa;
}

.main-content {
    background-image: url(../img/mine.jpg);
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;
    height: calc(100% - 140px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    height: 70px;
    background-color: #eaeaea;
}

.sidebar-navbar {border-right: 1px solid gray;}

.info-nav-container {
    display: flex;
    align-items: center;
}

.img-navbar-avatar {width: 50px;}

.img-navbar-avatar > img {
    width: 100%;
    border-radius: 100%;
}

.notifications-section {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #9fd8f8;
}

.icon-bell-container {
    background-color: white;
    border-radius: 100%;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

.icon-bell-container > i {color: #9fd8f8;}

/* da riguardare per eliminare */
.search-chat-section {margin: 8px 0;}

.avatar-contacts-container > img {
    width: 50px;
    border-radius: 100%;
}

.avatar-contacts-container {
    width: 100%;
    border-top: 1px solid rgb(241, 241, 241);
    margin: 12px 0;
}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.interlocutor-message {
    background-color: white;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 12px;
}

.last-access {
    text-align: end;
    font-size: 10px;
}

.user-message {
    background-color: #dcf8c0;
    border-radius: 12px;
    padding: 12px;
    margin: 6px 0;
}

.user-message:last-child {
    margin-bottom: 100px;
}

footer {
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-icon-container {
    font-size: 24px;
}